doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Panko Yu Sushi Restaurant Homepage
    link(rel='stylesheet' href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Main page of the website of Panko Yu Sushi Restaurant.')
  body
    header.nav-header
      a(href='index')
        img(src='/images/panko_yu_simple_transparent_normalRes.png' alt='Panko Yu logo, link to homepage' width='320' height='240')
      nav.nav-header__text-links
        a(href='story') Our story
        a(href='menu') Menu
        a(href='booking') Book a table
        a(href='about') Contact
    main#main-content.content
      article.error-page
        h1 Error 404, page not found
    footer.footer
      article.footer__contact-info
        h4
          a(href='about#contact_information') Contact information
        img.footer__contact-image(src='/images/icons8-location-96.png' alt='location icon')
        p.footer__contact-info-item
          | Nori Boulevard 808 
          br
          |  1337SH, Maki
        img.footer__contact-image(src='/images/icons8-phone-90.png' alt='phone icon')
        p.footer__contact-info-item Phone: 06-92012930
        img.footer__contact-image(src='/images/icons8-email-sign-96.png' alt='email icon')
        p.footer__contact-info-item Email: pankoyu@sushi.com
        img.footer__contact-image(src='/images/icons8-facebook-90.png' alt='facebook logo icon')
        p.footer__contact-info-item
          a(href='https://facebook.com') Facebook page
        img.footer__contact-image(src='/images/icons8-twitter-90.png' alt='twitter logo icon')
        p.footer__contact-info-item
          a(href='https://www.twitter.com') Twitter page
      article.footer__about-info
        h4 About
        p
          a.footer__about-info-item(href='story') Our story
        p
          a.footer__about-info-item(href='booking') Book a table
        p
          a.footer__about-info-item(href='about#opening_hours') Opening hours
