doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Panko Yu Sushi Restaurant Our story
    link(rel='stylesheet' href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Login and register page for Panko Yu Restaurant.')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  body
    header.nav-header
      a(href='index')
        img(src='/images/panko_yu_simple_transparent_normalRes.png' alt='Panko Yu logo, link to homepage' width='320' height='240')
      nav.nav-header__text-links
        a(href='story') Our story
        a(href='menu') Menu
        a(href='booking') Book a table
        a(href='about') Contact
        a(href='login') Login
    main.content
      .tab
        button.tab__link(name='register')
          | Register 
        button#tab__link--default.tab__link(name='login')
          | Login
      article#register-form
        h1 Register form
        p
          | If you want to register as a new user, please fill out the following information. If you already have an account, you can log in without registering.
        form#register-form__content
          p#register-form__input-check--exists
            | This user already exists. Please proceed to login page to log in.          
          label(for='firstName') First name: 
          input#register-form__first-name(type='text' name='firstName' required='')
          br
          br
          label(for='lastName') Last name: 
          input#register-form__last-name(type='text' name='lastName' required='')
          br
          br    
          label(for='email') Email address: 
          input#register-form__email(type='email' name='email' required='')
          br
          br
          label(for='phone') Phone number: 
          input#register-form__phone(type='text' name='phone' required='')
          br
          br
          label(for='password') Please choose a password: 
          input.register-form__password(type='password' name='password' required='')
          br
          br
          label(for='password2') Please re-enter password: 
          input.register-form__password(type='password' name='password2' required='')
          p#register-form__password-check
            | A password should contain:
            br
            | - A minimum of 8 and a maximum of 32 characters
            br
            | - A lowercase letter 
            br
            | - An uppercase letter
            br
            | - A numeric character
          p#register-form__warning
            | The passwords do not match!
          p#register-form__input-check--insecure 
            | The password is not secure. Please use the rules stated above.
          br
          input.register-form__submit(type='submit' value='Register')
      article#login-form
        h1 Login form
        p
          | Please fill our your login information. If you do not have an account yet, please register first.
        form#login-form__content
          p#login-form__input-check--invalid 
            | Invalid username and/or password. Please try again.
          p#login-form__input-check--empty 
            | Please enter username and password.
          label(for='email') Email address: 
          input#login-form__email(type='email' name='email')
          br
          br
          label(for='password') Password: 
          input#login-form__password(type='password' name='password')
          input#login-form__checkbox(type='checkbox')
          | Show password
          br
          br
          input.login-form__submit(type='submit' value='Login')
    footer.footer
      article.footer__contact-info
        h4
          a(href='about#contact_information') Contact information
        img.footer__contact-image(src='/images/icons8-location-96.png' alt='location icon')
        p.footer__contact-info-item
          | Nori Boulevard 808 
          br
          |  1337SH, Maki
        img.footer__contact-image(src='/images/icons8-phone-90.png' alt='phone icon')
        p.footer__contact-info-item Phone: 06-92012930
        img.footer__contact-image(src='/images/icons8-email-sign-96.png' alt='email icon')
        p.footer__contact-info-item Email: pankoyu@sushi.com
        img.footer__contact-image(src='/images/icons8-facebook-90.png' alt='facebook logo icon')
        p.footer__contact-info-item
          a(href='https://facebook.com') Facebook page
        img.footer__contact-image(src='/images/icons8-twitter-90.png' alt='twitter logo icon')
        p.footer__contact-info-item
          a(href='https://www.twitter.com') Twitter page
      article.footer__about-info
        h4 About
        p
          a.footer__about-info-item(href='story') Our story
        p
          a.footer__about-info-item(href='booking') Book a table
        p
          a.footer__about-info-item(href='about#opening_hours') Opening hours
    script(type='text/javascript' src='/javascripts/login.js')