html, body {
    height:100%;
}

body {
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.nav-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5em;
    background-color: lightsteelblue;
    justify-content: stretch;
}

.nav-header__text-links{
    font-size: 1.6em;
    display: flex;
        justify-content: flex-end;
        align-items: center;
    flex-grow: 2;
    margin-right: 10px;
}

.nav-header__text-links a{ /*The text-links in the header*/
    padding: 2vw;
    border-radius: 0.2em;
    color: #131313;
    font-weight: bold;
}

.nav-header__text-links a:hover{
    background-color: #82a6da;
}

main.content{
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    background-image:url(/images/background.jpg);
    background-color:white;
    background-repeat: repeat;    
}

#main-content{
    display: flex;
    flex-flow: column;
}

#mainpage-content__header{
    font-size: 10vw;
    text-align: center;
    margin:0;
}

@media (max-width: 1300px) {
    /*makes header vertical on small screens*/
    body .nav-header{
        flex-flow: column;
    }
    body .nav-header__text-links{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    body .nav-header__text-links a{ /*The text-links in the header*/
        margin: 5px 0px 5px 0;
    }
}

img.footer__contact-image{
    float:left;
    padding:5px;
    width:10%;
    height:10%
}

p.footer__contact-info-item{
    padding:5px;
}

.footer{
    background-color: lightsteelblue;
    display:flex;
        justify-content: space-evenly;
        align-items: flex-start;
    flex-wrap: wrap;
}

.footer__contact-info{
    text-align:left;
    color:black;
    padding:5px;
}

p.footer__about-info-item{
    padding:5px;
    margin:0;
}

a.footer__about-info-item{
    padding: 5px 0;
    margin:0;
    color:black;
}

.story-text, .mainpage-content {
    padding: 2em;
    background-color:white;
    text-align: center;
}

.reservation-form, .about-info, .menu, #login-form, #register-form, #personal-info, #order-history {
    padding: 2em;
    background-color:white;
}

#register-form__password-check {
    font-size: 0.8em;
    border-radius:1em;
    background-color:rgb(212, 253, 199);
    color:rgba(21, 155, 3, 0.712);
    padding:1em;
    margin:10px 0px;
}

#login-form__input-check--invalid, #login-form__input-check--empty, #register-form__warning, #register-form__input-check--exists, #register-form__input-check--insecure {
    border-radius:1em;
    color: rgb(177, 1, 1);
    background-color: rgb(247, 191, 191);
    display:none;
    padding: 1em;

}

.error-page {
    padding: 2em;
    background-color:white;
    text-align:center;
}

.tab {
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    padding: 0 2em;
}

.tab__link {
    margin:10px auto;
    padding:40px;
    background-color: inherit;
    border: none;
    border-radius: 1em;
    transition-duration: 0.4s;
    font-size:2em;
    font-weight: bold;
}

.tab__link:hover {
    background-color: lightsteelblue;
}

.menu__header {
    font-size:2.5em;
    text-align: center;
}

.menu__cart {
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 1em;
}

.menu__submit{
    margin:10px auto;
    display:block;
    padding:10px;
    background-color: white;
    border-radius: 1em;
    transition-duration: 0.4s;
    font-size:1em;
}

.register-form__submit, .login-form__submit, .personal-info__submit {
    padding:10px;
    background-color: white;
    border-radius: 1em;
    transition-duration: 0.4s;
    font-size:1em;
}


.menu__submit:hover, .register-form__submit:hover, .login-form__submit:hover, .personal-info__submit:hover {
    background-color: lightsteelblue;
}

#register-form__email, #login-form__email, #personal-info__email {
    width:250px;
}

.reservation-form__header {
    font-size: 18px;
}

.menu__category-header {
    text-align:center;
    font-size:1.5em;
}

.menu__menu-links {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

#contact-info-container{
    display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    text-align: center;
}

.contact-info-container__info-item{
    font-weight: bold;
}

a.menu__link {
    padding: 1em;
    font-size: 1.1em;
    text-decoration:underline;
}

section.about-info__contact-info td{
    text-align: center;
}

section.about-info__opening-hours li{
    list-style-type: none;
}

.category-container {
    display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
}

.category-container__category-grid {
    flex: 1;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content); /* deze regel is van een website: https://www.mrbento.nl/c/deals overgenomen, nog even geen idee hoe het werkt */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* deze regel is van een website: https://www.mrbento.nl/c/deals overgenomen, nog even geen idee hoe het werkt */
    grid-gap: 20px;
}

.category-grid__product {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    border: 2px solid lightgray;
    border-radius: 1em;
    padding: 20px;
    transition-duration:0.4s;
}

.category-grid__product:hover {
    border: 2px solid lightsteelblue;
}

.category-grid__product--selected {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    border: 2px solid red;
    border-radius: 1em;
    padding: 20px;
    transition-duration:0.4s;
}

.category-grid__product--selected:hover {
    border: 2px solid red;
}

h1.product__header {
    text-align:center;
    margin-top:0;
}

img.product__image {
    border-radius:5%;
    max-width: 100%;
    margin-right: 5px;
}

.product__description {
    margin: 5px 0px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

.product__incrementer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.product__quantity {
    text-align:center;
    margin:5px;
    height:40px;
    width:100px;
    border: 1px solid lightsteelblue;
    border-radius:1em;
    font-size:150%;
}

.product__incrementer--minus, .product__incrementer--plus {
    border-radius: 50%;
    background-color: white;
    border: 1px solid lightsteelblue;
    margin: 5px;
    transition-duration:0.4s;
    font-size: 150%;
    width:40px;
    height:40px;
}

.product__incrementer--minus:hover, .product__incrementer--plus:hover {
    background-color: lightsteelblue;
}

@media (max-width:1200px){

}

@media (max-width: 399px) {
    .product__description {
        flex-direction: column;
    }

}

@media (min-width: 700px){
    .reservation-form, .story-text, .about-info, .mainpage-content, .menu, #login-form, .error-page, #register-form, .tab, #order-history, #personal-info{
        width:75%;
        margin:auto;
        margin-top:1.5%;
        margin-bottom:1.5%;
        border-radius:1em;
    }
}